.modal__input{
    width: 335px;
    height: 50px;
    margin-top: 14px;
    padding: 0px 20px;
}

*{
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.modal__input2{
    width: 335px;
    height: 165px;

    &::placeholder{
        transform: translate(0px , -50px);
    }
}

.modal{
    background-color: rgba(255, 189, 84, 1);
    display: flex;
    width: 998px;
    height: 650px;
    display: none;
    position: absolute;
    transform: translate(-1000px , 0px);
}

.modal__ul{
    transform: translate(-50px , 0px);
}

.modal__h2{
    color: #333;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
}

.modal__img{
    width: 538px;
    height: 527px;
    transform: translate(-145px , 107px);
}

.modal__btn{
    width: 193px;
    height: 50px;
    background: #000;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
    margin-top: 14px;
}

.modal__exit{
    color: #333;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
}

.blok{
    display: block;
    display: flex;
}