.div__info {
    display: flex;
    position: relative;
    z-index: 1;
}

.you{
    transform: translate(-100px , -200px);
}

.you__img {
    position: absolute;
    margin-top: -297px;
    z-index: 2;
}

.you__h1 {
    text-align: center;
    margin-bottom: 317px;
    height: 62px;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    margin-top: 100px;
}